/* styles.css */

/* AppBar */
.app-bar {
    flex-direction: row;
    background-color: rgb(12, 17, 25);
}

/* IconButton */
.icon-button {
    color: rgb(220, 220, 220);
    font-size: 16px;
}

/* Menu */
.menu-paper {
    background-color: #6b7a8a;
    color: white;
}

/* Tabs */
.tabs {
    flex-grow: 1;
}